name: Deploy Docker Web

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build and Deploy
        run: |
          docker stop miweb || true
          docker rm miweb || true
          docker compose down || true
          docker compose build --no-cache
          docker compose up -d
